[user]
	email = sdf
	name = sdf
[alias]
[color]
	ui = true
[core]
	exludesfile = /Users/f/.gitignore_global
[alias]
[alias]
[alias]
	vlog = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=relative --graph

# ! = treated as a shell command
	adds = !git add -A && git status
	s =!git status
	amend = !git add -A && git commit --amend
	blog = for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads

[push]
	default = current
