[user]
	email = sdf
	name = sdf
[alias]
[color]
	ui = true
[core]
	exludesfile = /Users/f/.gitignore_global
	quotepath = false
	commitGraph = true
[alias]
[alias]
[alias]
	vl = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=relative --graph
	b = branch
  c = checkout
  cb = checkout -b
  com = commit -m
  dots = add .bash_aliases .bash_profile .bashrc .fzf.bash .gitconfig .tmux.conf .vifm/vifmrc .vim/syntax/nolang.vim .vimrc

# ! = treated as a shell command
	a = !git add -A && git status
  s = status
	amend = !git add -A && git commit --amend
	l = for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads

[push]
	default = current
[gc]
	writeCommitGraph = true
